#comments {
	margin-top: 2em;
	ol {
		list-style: none;
		padding-inline-start: 0;
		padding: 0 2em;
		li {
			border-top: 1px solid $color-hover;
			padding: 1rem 0;

			.comment-author {
				display: flex;
				img {
					@include border-radius(100%);
				}
				cite { 
					display: inline-block;
					margin: .3rem .5rem 0 0; 
					font-size: .9rem;
				}
				.says {
					display: none;
				}
			}

			.comment-meta {
				display: none;
			}

			p {
				font-size: .9rem;
				color: $color-light2;
			}

			.reply {
				margin-top: 1rem;
				margin-bottom: .5rem;
				text-align: left;
				a {
					background: $btn-bg;
					padding: $btn-padding;
					font-size: .8rem;
					color: $btn-color;
					@include border-radius($btn-border-radius);
				}
			}

			.comment-awaiting-moderation {
				background-color: #777;
				color: $color;
				@include border-radius(.2rem);
				padding: 0 .3rem;
				font-size: .7rem;
			}
		}
	}

	.bypostauthor {
		.comment-author-label {
			content: 'author';
			display: inline-block;
			margin: 0 .5rem;
			background: $color-hover;
			font-size: .5rem;
			color: #fff;
			@include border-radius(.1rem);
			padding: 0 .2rem;
		}
	}

	.comment-notes {
		display: none;
	}
	.comment-form-author, .comment-form-email, .comment-form-url {
		display: inline;
	} 
	#respond {
		text-align: center; 
		input, textarea { 
			margin:0;
			padding: 0.6em 2%; 
			border: 1px solid #eee;
			@include border-radius(4px);
			font-family: 'Noto Serif';
		}
		textarea {
			display: block;
			margin: 1em auto;  
			width: 94%;
			font-size: 1em;
			resize: vertical;
		}
		input { 
			width: 26.5%; 
		}
		input[name=author] {
			margin-left: 2.5%;
		}
		input[name=email], input[name=url] {
			direction: ltr;
			text-align: left; 
		}
		input[name=url] { 
			margin-right: 2.5%; 
		}
		input[name=submit] { 
			background-color: $color-light2;
			border: none;
			width: 99%;
			color: $body-bg;
			cursor: pointer;
			font-weight: 700; 
			&:hover {
				background-color: $color-light;
			}
		}
	}

	#respond {
		.comment-reply-title {
			color: $color-light;
		}
	}

	#commentform {
		.comment-form-cookies-consent {
			text-align: start;
			padding-left: 1em;
			label {
				width:auto !important;
				text-align: start;
				font-size: 0.8em;
				color: $color-hover;
			}

			#wp-comment-cookies-consent {
				width: auto !important;
			}
		}

		.logged-in-as {
			text-align: start;
			margin: 0 0.5em;
		}
	}
}

@media all and (max-width: 440px) {
	#comments {
		#commentform { 
			input { 
				display: block;
				margin: 1rem 0!important; 
				width: 94%;
				font-size: 1em;
				resize: vertical;
			}
		}
	}
}
