#footer { 
  text-align: center;
  padding: 2rem 0;
  .container {
    ul {
      display: inline-block; 
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {  
        display: inline;
        font-size: 1rem;
      }
    }
  }
  #cloud-tags{
    margin: 2rem 0;
    .tag-cloud-link {
      display: inline-block;
      color: $body-bg;
      background: $color-accent;
      font-size: .7rem;
      padding: 0.4rem 1rem;
      @include border-radius(.1rem);
      cursor: pointer;
      margin: .1rem .2rem; 
      &:hover {
        background: $color-light2;
        color: $body-bg;
      }
    }
  }
  #copyright-stuff {
    font-size: .8rem;
  }
}
